{{define "access_control"}}
    <html>
    {{template "header"}}
    <body>
        <form>
        {{template "nav"}}
        <h2 class="title">Endpoint Access Control</h2>
        {{range $endpointIndex, $endpointsElement := $.Endpoints}}
            <div class="route">
                <h3 class="">{{$endpointsElement.Route}}</h3>
                <hr/>
                {{range $index, $element := .Operations}}
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="{{.Name}}">
                            <h5 class="">
                                {{.Name}}
                            </h5>
                        </label>
                        <br/>
                            {{range $permIndex, $permElem := .Allowed}}
                            <div class="operations">
                                <div class="custom-control custom-switch">
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight custom-control-input" id="{{$endpointsElement.Route}}-{{$permElem}}-{{$element.Name}}" type="checkbox" name="{{$endpointsElement.Route}}-{{$permElem}}-{{$element.Name}}">
                                    <label class="custom-control-label" for="{{$endpointsElement.Route}}-{{$permElem}}-{{$element.Name}}">{{$permElem}}</label>
                                </div>
                            </div>
                            {{end}}
                    </div>
                    {{end}}
            </div>
        {{end}}
        <button type="submit" method="post">Save</button>
        </form>
    </body>
    </html>
{{end}}